[Desktop Entry]
Type=XSession
Name=Denizalti
Comment=Drop Deep Into The Sea
#Exec=/usr/bin/basic_wm
#Exec=/usr/bin/Denizalti

# 1. Start some programs to play with.
xclock &
xeyes &
sleep 2 && xterm &

# 2. Start our window manager.
export GLOG_logtostderr=1
exec /usr/bin/basic_wm

